:root {
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-primery-light: #faf4ea;
  --color-primery-dark: #31261a;
}
/* Base */
* {
  box-sizing: border-box;
}
body {
  color: var(--color-primery-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-primery-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* buttons */
.button {
  background: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  color: var(--color-primery-light);
  font-weight: 600;
  padding: 16px 32px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  cursor: pointer;
}

/* links */
.link {
  color: var(--color-primery-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand);
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-manu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* sections */
.hero-title {
  margin-bottom: 0;
  color: var(--color-primery-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-section {
  padding: 272px 0;
  background-image: url(/images/bag.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.hero-title span {
  color: var(--color-brand);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primery-light);
  font-size: 20px;
  font-weight: 300;
}

.advantages-section {
  background-color: var(--color-brand);
  padding: 16px 0;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chefs-title {
  max-width: 535px;
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid #cfcfbc;
  content: '';
}

.chef-photo {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 200px;
  box-shadow: -16px 16px 0 0 var(--color-primery-light), -16px 16px 0 2px #a18268;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.formats-title {
  margin-bottom: 80px;
}

.format-card {
  padding: 24px;
  height: 444px;
  border: 1px solid lightgray;
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primery-dark) 100%
  );
}

.contact-title {
  padding: 16px;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primery-light);
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand);
}

.address-copyright {
  font-size: 14px;
}

.footer {
  background-image: url(/images/footer-bg.png);
  background-color: var(--color-primery-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
