* {
  box-sizing: border-box;
}

.flex-conteiner {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  
}

.box {
  /* display: inline-block; */
  flex-basis: 100px;
  height: 100px;
  border: 6px solid darkviolet;
  background-color: blueviolet;
  padding: 10px;
  margin: 10px;
}
