@import './utils/variables';

@import './utils/base';

@import './utils/utils';

@import './utils/mixins';


@import './components/buttons';
@import './components/links';
@import './components/header';
@import './components/hero';
@import './components/advantages-section';
@import './components/traditions-section';
@import './components/chefs-section';
@import './components/formats-section';
@import './components/carusel';
@import './components/contacts-section';
@import './components/adressses';
@import './components/footer';
@import './components/modal';
@import './components/form';
