@import './utils/variables';
@import './utils/base';
@import './utils/utils';
@import './utils/mixins';
@import './utils/texts';


@import './components/buttons';
@import './components/links';
@import './components/carusel';
@import './components/paginations';

@import './components/header';
@import './components/mobile-menu';
@import './components/hero';
@import './components/advantages-section';
@import './components/traditions-section';
@import './components/chefs-section';
@import './components/formats-section';
@import './components/contacts-section';
@import './components/adressses';
@import './components/footer';
@import './components/modal';
@import './components/form';
