:root {
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-primery-light: #faf4ea;
  --color-primery-dark: #31261a;
}
/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  color: var(--color-primery-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

main {
  background-color: var(--color-primery-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}

/* buttons */
.button {
  background: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  color: var(--color-primery-light);
  font-weight: 600;
  padding: 16px 32px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  cursor: pointer;
}

/* links */
.link {
  color: var(--color-primery-light);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
}

.link:hover {
  color: var(--color-brand);
}

/* Header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-manu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* sections */
.hero-title {
  margin-bottom: 0;
  color: var(--color-primery-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(images/bag.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.hero-title span {
  color: var(--color-brand);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  color: var(--color-primery-light);
  font-size: 20px;
  font-weight: 300;
}

.advantages-section {
  background-color: var(--color-brand);
  padding: 16px 0;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chefs-title {
  margin: 0 auto 80px;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  width: 352px;
  border: 2px solid #cfcfbc;
  content: '';
  bottom: 24px;
  position: absolute;
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chef-photo {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 200px;
  box-shadow: -16px 16px 0 0 var(--color-primery-light),
    -16px 16px 0 2px #a18268;
}

.chefs-list {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 40px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.formats-title {
  margin-bottom: 80px;
}

.format-card {
  padding: 24px;
  height: 444px;
  border: 1px solid lightgray;
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primery-dark) 100%
  );
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-primery-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--color-primery-dark);
  flex-shrink: 0;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-primery-dark);
  fill: var(--color-primery-light);
}

.contact-section {
  padding-bottom: 96px;
}

.contact-title {
  margin-bottom: 16px;
  padding: 16px;
  padding-bottom: 0;
  padding-left: 0;
}

.contact-conteiner {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: 0;
  border-radius: 16px;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primery-light);
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand);
}

.address-copyright {
  font-size: 14px;
  color: #a18268;
}

.address-social {
  fill: var(--color-primery-light);
}

.address-social:hover {
  fill: #819b57;
}

.footer {
  background-image: url(images/footer-bg.png);
  background-color: var(--color-primery-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
  position: relative;
}

.footer::after,
.footer::before {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  content: '';
}

.footer::before {
  width: 180px;
  left: 0;
  height: 120px;
  background-image: url(images/bread-one.png);
}

.footer::after {
  width: 380px;
  right: 0;
  height: 190px;
  background-image: url(images/bread-two.png);
}

.footer-container {
  display: flex;
  gap: 16px;
}

.footer-nav {
  flex-basis: 50%;
  display: flex;
  gap: 16px;
}

.footer-adress {
  flex-basis: 50%;
  display: flex;
  gap: 16px;
}

.footer-links {
  flex-grow: 1;
}

.footer-logo {
  flex-grow: 1;
}

.footer-info {
  flex-grow: 1;
}

.adress-info {
  flex-grow: 1;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primery-light);
  border-radius: 32px;
  position: relative;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 80px;
}

/* form */
.form-label {
  position: absolute;
  left: 42px;
  top: 16px;
  font-size: 16px;
  line-height: 1.17;
  color: #a18268;
}

.form-field {
  margin-bottom: 32px;
  position: relative;
  font-size: 16px;
  line-height: 1.17;
}

.input {
  padding: 16px 42px;
  font-size: 16px;
  line-height: 1.17;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #a18268;
  background-color: transparent;
}

.input:focus {
  border-color: var(--color-brand);
  outline: none;
}

.input::placeholder {
  color: #a18268;
  font-weight: 400;
}

.input:focus::placeholder {
  color: var(--color-primery-dark);
}

.button-form {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

.form-terms-link {
  color: var(--color-primery-dark);
  text-underline-offset: 2px;
}
