*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  color: var(--color-primery-dark);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    font-weight: 400; 
  }
}

main {
  background-color: var(--color-primery-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 20px; 
  // margin-right: 20px;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px; 
  }
 
}

.section__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      line-height: 1.3;
    }
}

.centered {
    text-align: center;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}
