:root {
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-primery-light: #faf4ea;
  --color-primery-dark: #31261a;
  --color-decorate: #cfcfbc;
  --color-brand-normal: #a18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desctop: 1280px;