.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-primery-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--color-primery-dark);
  flex-shrink: 0;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-primery-dark);
  fill: var(--color-primery-light);
}