.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chefs-title {
  margin: 0 auto 80px;
  position: relative;
}

.chefs-title::before,
.chefs-title::after {
  width: 352px;
  border: 2px solid var(--color-decorate);
  content: '';
  bottom: 24px;
  position: absolute;
}

.chefs-title::before {
  left: 0;
}

.chefs-title::after {
  right: 0;
}

.chef-photo {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 200px;
  box-shadow: -16px 16px 0 0 var(--color-primery-light),
    -16px 16px 0 2px var(--color-brand-normal);
}

.chefs-list {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 40px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}