.contact-section {
  padding-bottom: 96px;
}

.contact-title {
  margin-bottom: 16px;
  padding: 16px;
  padding-bottom: 0;
  padding-left: 0;
}

.contact-conteiner {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: 0;
  border-radius: 16px;
}