.form-label {
  position: absolute;
  left: 42px;
  top: 16px;
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-brand-normal);
}

.contact-call__form-field {
  margin-bottom: 24px;
  position: relative;
  font-size: 16px;
  line-height: 1.17;
}

.input {
  padding: 16px 42px;
  font-size: 16px;
  line-height: 1.17;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-brand-normal);
  background-color: transparent;
}

.input:focus {
  border-color: var(--color-brand);
  outline: none;
}

.input::placeholder {
  color: var(--color-brand-normal);
  font-weight: 400;
}

.input:focus::placeholder {
  color: var(--color-primery-dark);
}

.button-form {
  margin: 0 auto;
  margin-bottom: 24px;
}

.contact-call__button-form {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

.form-terms-link {
  color: var(--color-primery-dark);
  text-underline-offset: 2px;
}
