.formats-list {
  margin-bottom: 32px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primery-light);
  z-index: 1;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primery-light);
  z-index: 1;
}

.formats-title {
  margin-bottom: 80px;
}

.format-card {
  padding: 24px;
  height: 444px;
  border-radius: 16px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.walrus-card {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      var(--color-primery-dark)
    ),
    url(../images/WalrusBG.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.horseshoe-card {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      var(--color-primery-dark)
    ),
    url(../images/HorseShoeBG.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.handlebar-card {
  background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 55.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      var(--color-primery-dark)
    ),
    url(../images/Handlebar.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

.formats-slider {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-container {
  overflow: hidden;
}

.formats-section__button {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
  }
}
