header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-manu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}