.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 48px;
  background-color: var(--color-primery-light);
  border-radius: 32px;
  position: relative;
  overflow-y: auto;

  @media screen and (min-width: $bp-tablet) {
    padding: 128px;
  }
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 80px;
}

.modal__form-field {
  margin-bottom: 32px;
  position: relative;
  font-size: 16px;
  line-height: 1.17;
}
