.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  .pagination__button {
    background-color: var(--color-brand-normal);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .pagination__button_active {
    background-color: var(--color-brand-dark);
  }
}
