.traditions-text.limited {
  max-width: 340px;
}

.traditions-section {
  padding-top: 40px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 96px;
  }

  .traditions-section__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }

  .traditions-section__content {
    max-width: 710px;
  }

  .traditions-section__title {
    margin-bottom: 42px;
  }

  .traditions-section__img{
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }
}

